# Geração de séries

**Resumo:** 
Uma série na linguagem de programação python nada mais é que um array (encadeado) de elementos de diversos tipos que podem ser números ou palavras/caracteres.Séries podem ser criadas a partir de dicionários e listas que são tipos de estruturas de dados nessa linguaguem. Cada um dos elementos que compõem a lista podem ser refenciados por índices ou rótulos.Este conceito é útil pois quando possuímos um grande registro ao longo do tempo, precisamos achar formas de organizá-los e acessar informações como por exemplo identificar repetições, se uma informação específica está contida dentro da série, valores nulos.

Para facilitar a manipulação de série existe a biblioteca pandas no python:

In [5]:
# instalando a bibloteca pandas
! pip install pandas

Requirement already satisfied: pandas in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\vitnasci\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\vitnasci\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
#importando a bibloteca pandas
import pandas as pd

## Estrutura de dados

Um dicionário é um conjunto de chave valor:

In [7]:
dic={'a':2,'b':4,'c':6}

In [8]:
print(dic)

{'a': 2, 'b': 4, 'c': 6}

Uma lista é um conjunto de valores ordenados e mutáveis. Exemplo:

In [9]:
lista=[3,6,'gato', 'cachorro']

In [10]:
print(lista)

[3, 6, 'gato', 'cachorro']

## Séries a partir de listas e dicionarios

In [11]:
# series a partir de dicionarios
pd.Series(dic)

a    2
b    4
c    6
dtype: int64

In [12]:
#series a partir de listas
alunos=['Livia','Gabriel','Enzo','Valentina']
notas=[9,5,8.5,7]
serie_lista=pd.Series(notas, alunos)
print(serie_lista)

Livia        9.0
Gabriel      5.0
Enzo         8.5
Valentina    7.0
dtype: float64

## Localizando informações

In [13]:
# identificando um elemento da lista através de um rótulo
serie_lista.loc['Livia']

np.float64(9.0)

In [14]:
# identificando um elemento através do índice
serie_lista.iloc[1]

np.float64(5.0)

In [15]:
# identificando um elemento através do índice
serie_lista[1]

C:\Users\vitnasci\AppData\Local\Temp\ipykernel_27232\1854818350.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  serie_lista[1]

np.float64(5.0)

In [16]:
#verifica se um elemento está contido na série

"joao" in serie_lista

False

## Qual a diferença entre Serie e Dataframes?

A biblioteca pandas trabalha com a manipulação de dados no Python, mais em específico com Series e Dataframes.  

* Series são unidimensionais e possuem índices.  
* Dataframes são tabelas como as do excel que podem ser compostas por várias colunas de Series.

In [17]:
# criando um dicionario a partir de series

escola={'1 trimestre':pd.Series([10,6.7,8,4.6],index=['João','Patrícia','Lucas','Geovana']),
        '2 trimestre': pd.Series([7,8.9,7.6,10,7.4],index=['João','Patrícia','Lucas','Geovana','Helena'])}

In [18]:
#transformando o dicionario em dataframe:
df=pd.DataFrame(escola)

In [19]:
display(df)

          1 trimestre  2 trimestre
Geovana           4.6         10.0
Helena            NaN          7.4
João             10.0          7.0
Lucas             8.0          7.6
Patrícia          6.7          8.9

In [20]:
df.index

Index(['Geovana', 'Helena', 'João', 'Lucas', 'Patrícia'], dtype='object')

In [21]:
df.columns

Index(['1 trimestre', '2 trimestre'], dtype='object')

In [22]:
df['1 trimestre']

Geovana      4.6
Helena       NaN
João        10.0
Lucas        8.0
Patrícia     6.7
Name: 1 trimestre, dtype: float64

In [23]:
df['2 trimestre']

Geovana     10.0
Helena       7.4
João         7.0
Lucas        7.6
Patrícia     8.9
Name: 2 trimestre, dtype: float64

## Importando CSV

In [29]:
#leitura de um arquivo csv com o separador padrão vírgula
#armazenando o caminho do arquivo na variável file
path='dados/Resp2.csv'
#transformando o arquivo em uma tabela do pandas ou dataframe
df1=pd.read_csv(path)
#mostrando as primeiras linhas do dataframe
df1.head()

   experience  respiration
0           0         3.94
1           0         4.26
2           0         4.16
3           0         3.76
4           0         4.07

In [ ]:
#Leitura de um arquivo csv com seraparador do tipo ponto e vírgula
# armazenando o caminho do arquivo na variável file
path='dados/winequality-red.csv'
#lendo o arquivo e o transformando em um dataframe, aqui como o separador não é padrão, devo especificá-lo
df2=pd.read_csv(path,sep=';')
#mostrando as primeiras linhas do dataframe
df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [31]:
#Leitura de um arquivo texto com seraparador do tipo espaço/tabulação
# armazenando o caminho do arquivo na variável file
path='dados/bostonTxt.txt'
df3=pd.read_csv(path,sep='\t')
df3.head()

     MV  INDUS   NOX     RM  TAX    PT  LSTAT
0  24.0   2.31  53.8  6.575  296  15.3   4.98
1  21.6   7.07  46.9  6.421  242  17.8   9.14
2  34.7   7.07  46.9  7.185  242  17.8   4.03
3  33.4   2.18  45.8  6.998  222  18.7   2.94
4  36.2   2.18  45.8  7.147  222  18.7   5.33

## Importando em Excel

## Importando HTML